USE [GodisnjiOdmor]
GO
/****** Object:  Table [dbo].[Resenje]    Script Date: 3/27/2017 2:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resenje](
	[ResenjeId] [int] IDENTITY(1,1) NOT NULL,
	[DatumResenja] [date] NOT NULL,
	[Objasnjenje] [nvarchar](250) NULL,
	[ZahtevId] [int] NOT NULL,
	[StatusResenjaId] [int] NOT NULL,
 CONSTRAINT [PK_Resenje] PRIMARY KEY CLUSTERED 
(
	[ResenjeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VrstaOdsustva]    Script Date: 3/27/2017 2:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VrstaOdsustva](
	[VrstaOdsustvaId] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VrstaOsustva] PRIMARY KEY CLUSTERED 
(
	[VrstaOdsustvaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Zaposleni]    Script Date: 3/27/2017 2:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zaposleni](
	[ZaposleniId] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](10) NOT NULL,
	[Prezime] [nvarchar](20) NOT NULL,
	[Pozicija] [nvarchar](50) NOT NULL,
	[Slika] [varbinary](max) NULL,
 CONSTRAINT [PK_Zaposleni] PRIMARY KEY CLUSTERED 
(
	[ZaposleniId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Zahtev]    Script Date: 3/27/2017 2:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zahtev](
	[ZahtevId] [int] IDENTITY(1,1) NOT NULL,
	[VremeOd] [date] NOT NULL,
	[VremeDo] [date] NOT NULL,
	[BrojDana] [int] NOT NULL,
	[ZaposleniId] [int] NOT NULL,
	[VrstaOdsustvaId] [int] NOT NULL,
 CONSTRAINT [PK_Zahtev] PRIMARY KEY CLUSTERED 
(
	[ZahtevId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[View_ListaZahteva]    Script Date: 3/27/2017 2:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_ListaZahteva]
AS
SELECT        z.ZaposleniId, z.Ime, z.Prezime, z.Pozicija, za.VremeOd, za.VremeDo, za.BrojDana, vr.Naziv, za.ZahtevId
FROM            dbo.Zaposleni AS z INNER JOIN
                         dbo.Zahtev AS za ON z.ZaposleniId = za.ZaposleniId INNER JOIN
                         dbo.VrstaOdsustva AS vr ON za.VrstaOdsustvaId = vr.VrstaOdsustvaId LEFT OUTER JOIN
                         dbo.Resenje AS r ON za.ZahtevId = r.ZahtevId
WHERE        (r.ZahtevId IS NULL)

GO
/****** Object:  Table [dbo].[StatusResenja]    Script Date: 3/27/2017 2:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusResenja](
	[StatusResenjaId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_StatusResenja] PRIMARY KEY CLUSTERED 
(
	[StatusResenjaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[View_ListaObradjenihZahteva]    Script Date: 3/27/2017 2:18:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_ListaObradjenihZahteva]
AS
SELECT        z.ZaposleniId, z.Ime, z.Prezime, z.Pozicija, st.Status, r.DatumResenja, r.Objasnjenje
FROM            dbo.Zaposleni AS z INNER JOIN
                         dbo.Zahtev AS za ON z.ZaposleniId = za.ZaposleniId INNER JOIN
                         dbo.Resenje AS r ON za.ZahtevId = r.ZahtevId INNER JOIN
                         dbo.StatusResenja AS st ON r.StatusResenjaId = st.StatusResenjaId

GO
SET IDENTITY_INSERT [dbo].[Resenje] ON 

INSERT [dbo].[Resenje] ([ResenjeId], [DatumResenja], [Objasnjenje], [ZahtevId], [StatusResenjaId]) VALUES (1, CAST(N'2017-03-26' AS Date), N'Postovani vas zahtev za godisnji je odobren.', 1, 1)
SET IDENTITY_INSERT [dbo].[Resenje] OFF
SET IDENTITY_INSERT [dbo].[StatusResenja] ON 

INSERT [dbo].[StatusResenja] ([StatusResenjaId], [Status]) VALUES (1, N'Odobreno')
INSERT [dbo].[StatusResenja] ([StatusResenjaId], [Status]) VALUES (2, N'Odbijeno')
SET IDENTITY_INSERT [dbo].[StatusResenja] OFF
SET IDENTITY_INSERT [dbo].[VrstaOdsustva] ON 

INSERT [dbo].[VrstaOdsustva] ([VrstaOdsustvaId], [Naziv]) VALUES (1, N'Godisnji Odmor')
INSERT [dbo].[VrstaOdsustva] ([VrstaOdsustvaId], [Naziv]) VALUES (2, N'Bolovanje')
INSERT [dbo].[VrstaOdsustva] ([VrstaOdsustvaId], [Naziv]) VALUES (3, N'Neplaceno Odsustvo')
SET IDENTITY_INSERT [dbo].[VrstaOdsustva] OFF
SET IDENTITY_INSERT [dbo].[Zahtev] ON 

INSERT [dbo].[Zahtev] ([ZahtevId], [VremeOd], [VremeDo], [BrojDana], [ZaposleniId], [VrstaOdsustvaId]) VALUES (1, CAST(N'2017-03-27' AS Date), CAST(N'2017-04-03' AS Date), 5, 2, 1)
INSERT [dbo].[Zahtev] ([ZahtevId], [VremeOd], [VremeDo], [BrojDana], [ZaposleniId], [VrstaOdsustvaId]) VALUES (2, CAST(N'2017-03-27' AS Date), CAST(N'2017-04-05' AS Date), 7, 4, 2)
SET IDENTITY_INSERT [dbo].[Zahtev] OFF
SET IDENTITY_INSERT [dbo].[Zaposleni] ON 

SET IDENTITY_INSERT [dbo].[Zaposleni] OFF
ALTER TABLE [dbo].[Resenje]  WITH CHECK ADD  CONSTRAINT [FK_Resenje_StatusResenja] FOREIGN KEY([StatusResenjaId])
REFERENCES [dbo].[StatusResenja] ([StatusResenjaId])
GO
ALTER TABLE [dbo].[Resenje] CHECK CONSTRAINT [FK_Resenje_StatusResenja]
GO
ALTER TABLE [dbo].[Resenje]  WITH CHECK ADD  CONSTRAINT [FK_Resenje_Zahtev] FOREIGN KEY([ZahtevId])
REFERENCES [dbo].[Zahtev] ([ZahtevId])
GO
ALTER TABLE [dbo].[Resenje] CHECK CONSTRAINT [FK_Resenje_Zahtev]
GO
ALTER TABLE [dbo].[Zahtev]  WITH CHECK ADD  CONSTRAINT [FK_Zahtev_VrstaOdsustva] FOREIGN KEY([VrstaOdsustvaId])
REFERENCES [dbo].[VrstaOdsustva] ([VrstaOdsustvaId])
GO
ALTER TABLE [dbo].[Zahtev] CHECK CONSTRAINT [FK_Zahtev_VrstaOdsustva]
GO
ALTER TABLE [dbo].[Zahtev]  WITH CHECK ADD  CONSTRAINT [FK_Zahtev_Zaposleni] FOREIGN KEY([ZaposleniId])
REFERENCES [dbo].[Zaposleni] ([ZaposleniId])
GO
ALTER TABLE [dbo].[Zahtev] CHECK CONSTRAINT [FK_Zahtev_Zaposleni]
GO
/****** Object:  StoredProcedure [dbo].[DodajZaposlenog]    Script Date: 3/27/2017 2:18:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DodajZaposlenog]
(
@Ime nvarchar(30),
@Prezime nvarchar(30), 
@Pozicija nvarchar(30),
@Slika varbinary(max)
)
AS
INSERT INTO Zaposleni VALUES(@Ime,@Prezime,@Pozicija,@Slika);
GO
/****** Object:  StoredProcedure [dbo].[ObradiZahtev]    Script Date: 3/27/2017 2:18:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ObradiZahtev]
(
@DatumResenja datetime,
@Objasnjenje nvarchar(250),
@ZahtevId int,
@StatusResenjaId int
)
AS
INSERT INTO Resenje VALUES(@DatumResenja, @Objasnjenje, @ZahtevId, @StatusResenjaId)
GO
/****** Object:  StoredProcedure [dbo].[ObrisiZaposlenog]    Script Date: 3/27/2017 2:18:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ObrisiZaposlenog]
(
@ZaposleniId int
)
AS
DELETE FROM Zaposleni WHERE ZaposleniId = @ZaposleniId
GO
/****** Object:  StoredProcedure [dbo].[PosaljiZahtev]    Script Date: 3/27/2017 2:18:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PosaljiZahtev]
(
@VremeOd date,
@VremeDo date,
@BrojDana int,
@ZaposleniId int,
@VrstaOdsustvaId int
)
AS
INSERT INTO Zahtev VALUES(@VremeOd,@VremeDo,@BrojDana,@ZaposleniId,@VrstaOdsustvaId);
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "z"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "za"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 420
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "r"
            Begin Extent = 
               Top = 6
               Left = 458
               Bottom = 136
               Right = 629
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "st"
            Begin Extent = 
               Top = 6
               Left = 667
               Bottom = 102
               Right = 838
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ListaObradjenihZahteva'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ListaObradjenihZahteva'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "z"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "za"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 420
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vr"
            Begin Extent = 
               Top = 6
               Left = 458
               Bottom = 102
               Right = 632
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "r"
            Begin Extent = 
               Top = 6
               Left = 670
               Bottom = 136
               Right = 841
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ListaZahteva'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ListaZahteva'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ListaZahteva'
GO
